<!-- Använder layout filen och arrangemang som model på denna sida -->
@model Arrangement
@{
    Layout = "_Layout";
}
<h1 class="text-center">Är du säker på att du vill ta bort följande arrangemang?</h1>
<!-- Hämtar information för det valda arrangemanget i databasen -->
<div class="card w-50 mx-auto my-5">
    <div class="card-header text-bg-primary">
        @Html.DisplayFor(model => model.Name)
    </div>
    <div class="card-body">
        <h6 class="card-subtitle mb-2 text-body-secondary">@Html.DisplayFor(model => model.Date)</h6>
        <p class="card-text">@Html.DisplayFor(model => model.Description)</p>
    </div>
</div>
<!-- Tar bort event -->
<div class="container w-50 mx-auto my-5 p-0">
    <form asp-action="DeleteArrangement">
        <div>
            <!-- Skicka med UserId värdet så att detta kan jämföras med den inloggade användarens värde
                 Skicka med övriga värden så att dessa kan skrivas om när sidan laddas om -->
            <input type="hidden" asp-for="@Model.UserId" value="@Model.UserId" />
            <input type="hidden" asp-for="@Model.Name" value="@Model.Name" />
            <input type="hidden" asp-for="@Model.Date" value="@Model.Date" />
            <input type="hidden" asp-for="@Model.Description" value="@Model.Description" />
            <input class="btn btn-primary" type="submit" value="Ja, ta bort detta arrangemang" />
        </div>
        <!-- Är fel användare inloggad så kommer ett felmeddelande upp här -->
        <p>
            @ViewBag.ErrorMessage
        </p>
    </form>
</div>
